# Ignore Mac DS_Store files
.DS_Store

# Ignore MATLAB backup files
*~

# Ignore soft-linked USER_SCRIPT
USER_SCRIPTS
/USER_SCRIPTS

# Ignore imlook4d releases
imlook4d_*/

release to google drive/client_secrets.json

release to google drive/mycreds.txt
