# Ignore Mac DS_Store files
.DS_Store

# Ignore MATLAB backup files
*~
*.asv

# Ignore soft-linked USER_SCRIPT
USER_SCRIPTS
/USER_SCRIPTS

# Ignore imlook4d releases (upgrading imlook4d from GUI stores versions here -- unintentional for DEV)
imlook4d_*/

